
#main-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    .container {
      display: block;
      width: 100%;
      height: 100%;
      font-family: 'Helvetica';
      &__visual {
        height: 100vh;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        font-size: 1.042vw; /*20px*/
        position: relative;
        z-index: 1;
        &--inner {
          width: 100%;
          height: 100%;
          padding: 0 1.563vw; /*0 30px*/
        }
        .profile-info {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          padding-top: 2.604vw;/*50px*/
          &-tit {
            display: flex;
            align-items: flex-start;
            gap: 18.229vw; 
            .animated-text {
              width: 20.833vw; /*400px*/
              height: 9.375vw; /*180px*/
              path {
                fill: none; 
                stroke: #333; 
                stroke-width: 1;
                stroke-dasharray: 400;
                stroke-dashoffset: 400;
                animation: draw 2s ease forwards, fill 0.1s ease forwards 2s;
                &:nth-child(1) { animation-delay: 0s, 2s; }
                &:nth-child(2) { animation-delay: 0.2s, 2.2s; }
                &:nth-child(3) { animation-delay: 0.4s, 2.4s; }
                &:nth-child(4) { animation-delay: 0.6s, 2.6s; }
              }
            }
            p {
              font-size: 0.833vw;/*16px*/
              padding-top: 0.521vw; /*10px*/
            }
          }
          &-img {
            width: 20.833vw; /*400px*/
            height: 13.021vw; /*250px*/
            border: 1px solid #ccc;
            overflow: hidden; 
            position: relative;
          
            a {
              content: '';
              position: absolute;
              inset: 0;
              background: url(../images/yeon.jpg) no-repeat 0 84% / cover;
              filter: grayscale(100%);
              transition:
              filter 0.6s ease-in-out,
              transform 0.6s ease-in-out,
              scale 0.6s ease-in-out;
              transform: scale(1);
              &:hover {
                filter: grayscale(0%);
                transform: scale(1.05);
              }
            }
          }
        }
        .sphere {
          width: 50rem;
          height: 40rem;
          position: absolute;
          top: 30%;
          left: 45%;
          animation: spinSphere 15s infinite linear;
          transform-style: preserve-3d;
          border-radius: 50%;
          // 고리 스타일
          [class^="ring"] {
            position: absolute;
            width: 30rem;
            height: 30rem;
            border: 1px solid #ccc;
            border-radius: 50%;
            transform-style: preserve-3d;
           
          }
          // 고리 배치: Y축
          @for $i from 1 through 18 {
            .ring#{$i} {
              transform: rotateY($i * 10deg);
            }
          }
          // 고리 배치: X축
          @for $i from 19 through 36 {
            .ring#{$i} {
              transform: rotateX(($i - 18) * 10deg);
            }
          }

          // 선 연결 스타일
          .line {
            position: absolute;
            width: 2px;
            height: 40rem;
            background: rgba(0,0,0,0.5);
            transform-origin: center;
          }

          // 선 연결
          @for $i from 1 through 18 {
            .line-#{$i} {
              transform: rotateY($i * 20deg) rotateX(30deg);
            }
          }
        }
        .tit-wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 0 1.563vw 0;/*0 30px 0*/
          width: 100%;
          .txt-box {
            overflow: hidden;
            display: inline-block;
            &:last-child {
              width: 100%;
              text-align: right;
              animation: slideUpEffect 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
            }
            .hidden-txt {
              display: inline-block;
              transform: translateY(100%);
              opacity: 0;
              font-size: 10.417vw; /*200px*/
              letter-spacing: 1%;
              line-height: 110%;
              font-weight: 500;
              animation: slideUpEffect 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
            }
          }
        }
        .scroll-button {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          bottom: 5rem;
          left: 3rem;
          animation: fadeIn 2s ease-in-out;
          cursor: pointer;
          .arrow {
            position: relative;
            width: 3rem;
            height: 3rem;
            border-left: 3px solid #333;
            border-bottom: 3px solid #333;
            transform: rotate(-45deg); 
            animation: bounce 1.5s infinite;
          }
        }
      }
      &__section {
        min-height: 100%;
        background: #fff;
        color: black;
        position: relative;
        top: 0; 
        z-index: 2; 
        &.sec1 {
          padding: 2.604vw; /*50px*/
          background: #f7f7f7;
        }
        &.sec2 {
          background-color: #020b0d;
          min-height: 100vh;
          h2 {
            display: flex;
            justify-content: flex-end;
            position: absolute;
            right: 0;
            top: 9rem;
            font-size: 15rem;
            color: #fff;
            z-index: 1;
            padding: 2.604vw; /*50px*/
            letter-spacing: -0.9rem;
          }
          .drag {
            &-wrapper {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              overflow: hidden; 
              width: 100%;
              min-height: 100vh;
              position: relative;
            }
            &-track {
              display: flex;
              gap: 1.5rem;
              justify-content: flex-start;
              align-items: center;
              width: max-content;
              user-select: none;
              cursor: grab;
              will-change: transform;
              &.dragging {
                cursor: grabbing;
              }
              &--card {
                flex-shrink: 0;
                border-radius: 2rem;
                overflow: hidden;
                position: relative;
                transition: transform 0.1s ease-out, opacity 0.1s ease-out;
                transform: scale(0.85) translateY(var(--card-offset));
                max-height: 50rem;
                opacity: 1;
                max-height: 40rem; 
                &.active {
                  transform: scale(1.2) translateY(0);
                  border: 1px solid red;
                }
                img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  object-fit:cover;
                }
                p {
                  position: absolute;
                  top: 2rem;
                  left: 2rem;
                  color: #fff;
                  font-size: 2.5rem;
                  font-weight: 500;
                  white-space: pre-line;
                }
                &.active {
                  transform: scale(1.2) translateY(0);
                }

                &.card1 { width: 70rem; height: 40rem;}
                &.card2 { width: 30rem; height: 40rem;}
                &.card3 { width: 60rem; height: 40rem;}
                &.card4 { width: 45rem; height: 40rem;}
                &.card5 { width: 58rem; height: 40rem;}
                &.card6 { width: 28rem; height: 40rem;}
                &.card7 { width: 48rem; height: 40rem;}
              }
            }
            &-bar {
              display: flex;
              justify-content: flex-start; 
              align-items: center;
              position: absolute;
              bottom: 0;
              transform: translate(-50%, -50%);
              left: 50%;
              width: 28%;
              height: 0.2rem;
              background: #888;
              border-radius: .2rem;
              margin: 10rem auto;
              .progress-thumb {
                width: 5.5rem;
                height: 1.2rem;
                background: white;
                border-radius: 100px;
                cursor: grab;
                transition: background 0.2s ease, transform 0.2s ease;
                position: relative;
                left: 0;
                &.active {
                  cursor: grabbing;
                  background: #ddd;
                }
              }
            }
            &-txt {
              display: flex;
              flex-direction: column-reverse;
              position: absolute;
              bottom: 0;
              padding: 0 2.604vw 2.604vw;
              h3 {
                color: #fff;
                font-size: 15rem;
              }
              p {
                font-size: 2rem;
                font-weight: 500;
                color: #888;
                line-height: 120%;
              }
            }
          }
        }
        &--contents {
          p {
            font-size: 1.8rem;
          }
        }
      }
    }

}
