@import url("https://fonts.cdnfonts.com/css/thegoodmonolith");
@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

// Intro
:root {
  --color-text: #e43c13;
  --color-bg: #e43c13;
  --color-overlay: #ece9e1;
  --color-overlay-text: #e43c13;
  --grid-padding: 2rem;
  --grid-gap: 1rem;
  --transition-timing: cubic-bezier(0.65, 0.05, 0.36, 1);
  --transition-duration: 640ms;
  --font-primary: "PP Neue Montreal", sans-serif;
  --font-secondary: "TheGoodMonolith", monospace;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-overlay);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  //공통
  .highlight {
    color: #e43c13;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .faded {
    // opacity: 0.5!important;
    color: #e43c13;
    font-size: 1.5rem;
    text-transform: uppercase!important;
    letter-spacing: 0.08em!important;
  }
  .terminal-preloader {
    width: 90%;
    max-width: 80rem;
    max-height: 50rem;
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
    display: block;
    opacity: 1;

    .terminal-container {
      position: relative;
      height: 35rem;
      margin-top: 30px;
      overflow: hidden;
      padding: 10px;

      .terminal-line {
        position: absolute;
        font-size: 0.9rem;
        line-height: 1.2;
        letter-spacing: 0.05em;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        left: 0;
        padding-left: 10px;
        opacity: 1;
        font-family: var(--font-primary);
        font-weight: 300;

        span {
          font-family: var(--font-primary);
        }
      }

      .progress-line {
        position: absolute;
        top: 135px;
        left: 0;
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        padding-left: 10px;

        .progress-label {
          font-weight: 400;
          margin-right: 10px;
          font-size: 1.5rem;
          color: #e43c13;
          font-family: var(--font-primary);
          text-transform: uppercase;
          letter-spacing: 0.08em;
        }

        .progress-container {
          width: 200px;
          height: 1px;
          background-color: #eabcac;
          position: relative;
          overflow: hidden;

          .progress-bar {
            height: 100%;
            width: 0%;
            background-color: #e43c13;
            transition: none;
          }
        }
      }
    }

    .border-top,
    .border-bottom {
      position: absolute;
      left: 0;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      font-size: 1.2rem;
      color: #e43c13;
      align-items: center;
      font-family: var(--font-secondary);
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    .border-top {
      top: 0;
    }

    .border-bottom {
      bottom: 0;
    }
  }
}

// Contents
#main {
  background-color: #ece9e1;
  font-family: 'Montserrat';
  &.main-container__main {
    width: 100vw;
    overflow: hidden;
    .main__scroll {
      display: flex;
      width: calc(100vw * 5);
      height: 100vh;
      .scroll__panel {
        // flex: 0 0 100vw;
        // min-width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 5rem;
        font-size: 3rem;
        background: #ece9e1;
        &:first-child {
          border-right: 0;
        }
      }
      
      .sec1 {
        &.scroll__panel {
          min-width: 90vw;
        }
        .home_intro {
          width: 75rem;
          height: auto;
          &--left {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            position: absolute;
            top: 5%;
            left: 0;
            font-size: 1.5rem;

            .fade-txt, .slide-txt {
              opacity: 0;
              transform: translateX(0);
              transition: all 1s ease;
              font-size: 2rem;
              color: #e43c13;
            }

            .fade-txt.show {
              animation: fadeIn 1.2s ease forwards;
            }

            .slide-txt.show {
              animation: slideInLeft 1.5s ease forwards;
            }

            .slide-txt {
              margin-top: 2rem;
              // color: #002867;
              color: #e43c13;
              a {
                border-bottom: 1px solid;
                line-height: 140%;
              }
            }
          }

          &--name {
            display: flex;
            flex-direction: column;
            gap: 6rem;
            position: relative;
            left: 100%;
            color: #e43c13;
            font-weight: 800;
            div {
              font-size: 20rem;
              line-height: 1;
            }
            .m_name {
              margin-left: 20rem;
              transition: transform 0.3s ease;
            }
            .l_name {
              margin-left: -10rem;
            }
          }
        }
      }
      .sec2 {
        justify-content: flex-start;
        &.scroll__panel {
          min-width: 65vw;
        }
        .about_accordion {
          display: flex;
          width: 70rem;
          height: 90%;
          .about_cate--list {
            flex: 0 0 8.4rem;
            min-width: 5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            transition: flex 0.5s ease;
            height: 100%;
            overflow: hidden;
            background-color: #ece9e1;
            border-right: 1px solid #e43c13;
            box-sizing: border-box;
            cursor: pointer;
            padding-right: 5rem;
            a {
              height: 100%;
              position: relative;
              writing-mode: vertical-rl;
              transform: rotate(180deg);
              text-decoration: none;
              font-size: 10rem;
              color: #e43c13;
              font-weight: bold;
              margin-right: 3rem;
              // padding: 3rem 3rem 0 3rem;
              z-index: 1;
               &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0; 
                width: 100%;
                height: 100%;
                background-color: #decfcc;
                transform: scaleX(0); 
                transform-origin: right center; 
                transition: transform 0.4s ease;
                z-index: -1;
              }
              &:hover::before {
                transform: scaleX(1); 
              }
            }

            .about_content {
              opacity: 0;
              pointer-events: none;
              transition: opacity 0.3s ease;

              .about_content--desc {
                font-size: 2rem; 
                line-height: 1.7;
                color: #e43c13;
                white-space: unset;
              }
            }
            &.active {
              flex: 0 0 75rem;
              // padding-right: 3rem;
              .about_content {
                opacity: 1;
                pointer-events: auto;
              }
            }
          }
          .about_content {
            &--03 {
              border-right: 0;
            }
          }
        }
      }
      .sec3 {
        &.scroll__panel {
          min-width: 65vw;
        }
        .project_cate_area {
          width: 100%;
          height: 100%;
          margin-left: 5rem;
          .project_cate {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 50rem;
            height: 100%;
            &--list {
              font-size: 4rem;
              font-weight: 600;
              color: #e43c13;
            }
          }
        }
      }
      .sec4 {
        position: relative;
        &.scroll__panel {
          min-width: 75vw;
        }
        .marquee {
          position: fixed;
          top: 0;
          left: 8rem;
          width: 10rem;
          height: 100vh;
          overflow: hidden;
          transform: rotate(-180deg); 
          z-index: 1;
          .marquee-inner {
            display: flex; 
            writing-mode: vertical-lr;
            animation: scroll-vertical 15s linear infinite;
          }
          span {
            display: inline-block;
            padding: 1rem 0;
            font-size: 7.5rem;
            font-family: "Playfair Display", serif;
            // color: #002867;
            color: #e43c13;
            font-weight: 300;
            text-align: center;
            white-space: nowrap;
          }
        }
        .final_area {
          position: absolute;
          left: 30rem;
          width: 55rem;
          height: 90%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  //공통
  .content_wrap {
    display: flex;
    align-items: flex-start;
    justify-items: center;
    width: 100%;
    height: 90%;
  }
  .panel_tit {
    display: flex;
    justify-content: flex-start;
    width: 4rem;
    height: 90%;
    font-size: 1.6rem;
    font-weight: 600;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    border-left: 1px solid #e43c13;
    // color: #332B24;
    color: #e43c13;
  }
}
.sec5 {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background: #e43c13;
  z-index: 1000;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;

  &.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    color: #fff;
  }

  // 내부 컨테이너
  .contact__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  // 전체 슬라이딩 배경
  .contact--transition-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e43c13;
    transform-origin: left center;
    transform: scaleX(0);
    z-index: 0;
  }

  // 메뉴 항목 묶음
  .menu--items {
    z-index: 1;
  }

  // 개별 메뉴 항목
  .menu--item {
    margin: 1.5rem 0;
    overflow: hidden;

    &-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      pointer-events: none;
      color: #fff;
    }

    &-line {
      width: 100%;
      height: 3px;
      background: #ece9e1;
      transform: scaleX(0);
      transform-origin: left center;
      margin-top: 0.25rem;
    }
  }

  // 링크 스타일
  .menu--link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transform: translateY(100%);

    &-txt {
      position: relative;
      display: inline-block;
      font-size: 8rem;
      font-weight: 700;
      &::after {
        content: attr(data-text);
        position: absolute;
        top: 100%;
        left: 0;
        // color: #fff;
        color: #e43c13;
      }
    }
  }
}
.contact_btn_wrap {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 2100;
  .contact_btn {
    width: 12rem;
    height: 2.5rem;
    cursor: pointer;
    // overflow: hidden;
    &--txt {
      position: relative;
      width: 100%;
      height: 100%;
      .txt {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) translateY(var(--translate-y));
        transition: transform 150ms ease;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Montserrat';
        &:nth-child(1) {
          --translate-y: 0;
          // color: #000;
          color: #e43c13;
        }
        &:nth-child(2) {
          --translate-y: 150%;
          color: rgb(235, 235, 235);
        }
      }
    }
    &.active {
      .content {
        .txt {
          &:nth-child(1) {
            --translate-y: -150%;
          }
          &:nth-child(2) {
            --translate-y: 0;
          }
        }
      }
    }
    &:focus {
      outline: none;
    }
  }
}

// 서브페이지 이동
.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ece9e1;
  transform: translateY(-100%); 
  transition: transform 1s ease-in-out;
  z-index: 9999;
  pointer-events: none;
}

.page-transition.active {
  transform: translateY(0); 
}